/* EDITAR ESTILOS */
/* .destacado {
  background-color: green;
}

.favorito {
  background-color: yellow;
}

.oculto {
  display: none;
} */
/* ----------------------------------------------------------------------------------- */

/* THIS DIV */
/* .clase {
  background-color: blue;
  height: 30px;
} */

/* ---------------------------------------------------------------------------------------- */

/* BUTTON VER_MAS */
/* .ver {
  visibility: visible;
  color: white;
  background-color: blue;
}

div {
  visibility: hidden;
} */

/* ------------------------------------------------------------------------------------- */

/* BOMBA */
#bomba {
  font-size: 80px;
  font-weight: bold;
}

