/* .hidden { 
    display: none;
    color: red;
} */
/* ---------------------------------------------------------------------- */
/* EJERCICIO 3 */
.div-aleatorio {
    background-color: blue;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}